<h1>Grandmothers Edit</h1>

<%= simple_form_for @grandmother do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :nationality %>
  <%= f.input :description, as: :text %>
  <%= f.submit 'Update grandma!' %>

<% end %>
