<h1>Grandmothers new</h1>

<%= simple_form_for @grandmother do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :nationality %>
  <%= f.input :description, as: :text %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Create grandma!' %>

<% end %>
