<div id="grandma-background">
  <div class="container-sign">
    <div class="sign">
      <h2>Add a grandmother</h2>

        <%= simple_form_for @grandmother do |f| %>
          <%= f.input :name %>
          <%= f.input :age %>
          <%= f.input :nationality %>
          <%= f.input :description, as: :text %>
          <%= f.input :photo, as: :file %>
          <div class="btn-container">
            <%= link_to 'Go back', profile_path(@user), class: 'btn action-btn' %>
            <%= f.submit 'Create grandma!', class: 'btn sign-btn' %>
          </div>
        <% end %>
    </div>
  </div>
</div>