
<div class="exp-page-container">
  <h1>Find an experience near you</h1>
  <div class="row">

      <% @experiences.each do |experience| %>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="exp-container">

              <% if experience.photo.attached? %>
                <div class="exp-card-head" style='background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url(<%= cl_image_path experience.photo.key %>)'>
              <% else %>
                <div class="exp-card-head" style='background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url("https://images.unsplash.com/photo-1575467678930-c7acd65d6470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")'>
              <% end %>
                  <h5><%= link_to experience.title, experience_path(experience) %></h5>
                  <p>With <%= experience.grandmother.name %></p>
                </div>

              <div class="card-footer2">
                <div class="price-and-book">
                  <p><%= experience.price %>€</p>
                  <%= link_to 'Book Now', new_experience_booking_path(experience) %>
                </div>
              </div>

            </div>
          </div>

      <% end %>

  </div>
</div>


<!-- removed the delete option in these cards, and will be moved to /profile -->
<!-- <p><%#= link_to 'Delete experience', experience_path(experience),
                      method: :delete,
                      data: { confirm: "Delete #{experience.title}?"} %></p> -->

