<div class="exp-page-container">
  <h1><%= @experience.title %></h1>
  <div class="row" >
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="grandma-details">
       <!--  <div> -->
<!--         <div class="grandma-dt"> -->
          <%= image_tag "https://images.unsplash.com/photo-1447005497901-b3e9ee359928?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80", :class => "avatar-medium" %>
          <br>
          <p>Assigned granny</p>
          <h4><%= @experience.grandmother.name %></h4>
<!--         </div> -->

          <div class="text">
            <p><%= @experience.grandmother.description %></p>
         <!--  </div> -->
        </div>
      </div>
<%# 
      <div class="sign-btn btn-container">
        <%= link_to experiences_path do %>
        <%# <p> Book Now!</p>
        <% end %>
      <%# </div> %>
      <%= link_to 'Go back', profile_path, class: 'btn action-btn' %>
      <%= link_to 'Book Now!', new_experience_booking_path(@experience), class: 'btn sign-btn' %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="experience-details">
        <h3>When: <%= @experience.start_time.strftime("%B %d, %Y - %Hh%M") %></h3>
          <!-- <div class="text"> -->
            <p><%= @experience.description %></p>
         <!--  </div> -->
        <p><%= @experience.duration %>min</p>
        <p><%= @experience.price %>€ </p>
      </div>
    </div>



<!--     <%#= link_to 'Edit experience', edit_experience_path(@experience) %> -->
<!-- line above might not be useful anymore, since the user -->
<!-- is only seeing the experiences created by others -->
  </div>
</div>
