<div class="exp-page-container">
  <h1><%= @experience.title %></h1>
  <div class="row" >
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="grandma-details">
        <div>
          <p>Assigned granny - <%= @experience.grandmother.name %><p>
          <div class="text">
            <p><%= @experience.grandmother.description %></p>
          </div>
        </div>
      </div>
      <%= link_to 'Back to list', experiences_path %>
      <%= link_to 'Book Now', new_experience_booking_path(@experience) %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="experience-details">
        <h3>When: <%= @experience.start_time.strftime("%B %d, %Y - %Hh%M") %></h3>
          <div class="text">
            <p><%= @experience.description %></p>
          </div>
        <p><%= @experience.duration %>min</p>
        <p><%= @experience.price %>€ </p>
      </div>
    </div>



<!--     <%#= link_to 'Edit experience', edit_experience_path(@experience) %> -->
<!-- line above might not be useful anymore, since the user -->
<!-- is only seeing the experiences created by others -->
  </div>
</div>
